.prioridade-baixa {
  border-left: 5px solid green;
}
.prioridade-media {
  border-left: 5px solid orange;
}
.prioridade-alta {
  border-left: 5px solid red;
}
.concluida {
  text-decoration: line-through;
  opacity: 0.6;
}